doctype html
html(lang="en")
  head
    title= FallonAbout
    style
      include ../css/home.css
  body
    h1 About
    #container
    include ./navbar.jade
    p.
      What's this all about?
    include ./footer.jade

