doctype html
html(lang="en")
  head
    title= FallonHome
    style
      include ../css/home.css
  body
    h1 Heya
    #container
    include ./navbar.jade
    p.
      Jade is simple and confusing at the same time.
    include ./footer.jade

