doctype html
html(lang="en")
  head
    title= FallonLogin
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='../css/home.css')
  body
    #container
      include ./navbar.jade
      #mycontent
        h1 Login Here
        p Some fields r something
      include ./footer.jade

