body {
	background-color: yellow;
}

#container {
	color: red;
	padding-top: 90px;
}

nav#hmnav {
	list-style-type: none;
	border: 1px solid black;
	position: absolute;
	top: 73px;
}

#hmnav li {
	display: inline-block;
	border: 1px solid black;
	margin: 1px 5px 1px 5px;
	padding: 1px;

}

#hmnav li a {
	margin: 1px 5px 1px 5px;
	padding: 13px;
}

#logoimg {
	z-index: -1;
	position: absolute;
	top: 10px;
}

#logobr{
	border: 0;
	height: 1px;
	background: #333;
	background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
	background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
	background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
	background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
}
